{
  "presets": [
    [
      "env",
      {
        "debug": false,
        "loose": true,
        "modules": false,
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": ["transform-class-properties"]
}
