{
  "env": {
    "browser": true,
    "commonjs": true,
    "shelljs": true,
    "node": true,
    "amd": true
  },
  "extends": ["airbnb-base/legacy"],
  "plugins": ["import"],
  "globals": {
    "YT": true
  },
  "rules": {
    "import/no-unresolved": [2, {"commonjs": true, "amd": true}],
    "import/no-webpack-loader-syntax": 0,
    "no-tabs": 0,
    "indent": ["error", "tab"],
    "linebreak-style": ["error", "unix"],
    "no-process-env": 0,
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "vars-on-top": 0,
    "no-multi-assign": 0,
    "space-before-function-paren": 0,
    "padded-blocks": 0,
    "keyword-spacing": 0,
    "comma-spacing": 0,
    "space-before-blocks": 0,
    "func-names":"off",
    "global-require":"off",
    "no-underscore-dangle":"off"
  }
}
