:root {
  --height: 60px;
  --width: 208px;
  --margin: 7px;
  --birdImageSize: calc(var(--height) - var(--margin) * 2);
}

#birdLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--width);
  height: var(--height);
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  pointer-events: none;
  display: none;
}

#birdLabel.show {
  display: block;
}

#birdLabel > canvas {
  width: var(--birdImageSize);
  height: var(--birdImageSize);
  position: absolute;
  right: var(--margin);
  top: var(--margin);
  background-color: white;
}

#birdLabel > div {
  position: absolute;
  top: var(--margin);
  left: var(--margin);
  width: calc(var(--width) - var(--height));
  height: var(--birdImageSize);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 120%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
}
